body{
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgba(4, 6, 18, 1);
}

.logo{
    mix-blend-mode: screen;
}
.logo:hover{
    transform: scale(1.22);
}

.fs-0{
    font-size: 50px;
}

.hookah{
    background-image: url('/img/калик.png');
    background-size: contain;
    background-repeat: no-repeat;

}


.tastes-block{
    background-image: url('/img/taste.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-top: 10px;
    margin-bottom: 150px;
    margin-right: 170px;
}

.tastes{
    background-color: rgb(165, 0, 77);
    padding-right: 100px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 350px;
}

.stik{
    padding: 40px;
    border-radius: 12px;
    background-color: rgba(120, 120, 120, 0.48);
    max-width: 450px;
    max-height: 360px;
    margin-top: auto;
    margin-bottom: -80px;
    margin-right: -120px;
    z-index: 20;
}
.fs-0 {
    font-size: 65px;
}
.text-pink{
    color:rgba(220, 20, 114, 1);
}
/*NEON*/
.button {
    padding: 12px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 12px;
    text-decoration: none;
    color:  rgba(30, 30, 30, 1);
}
.btn-outline-neon{ 
    background-color: rgba(220, 20, 114, 1);
    box-shadow: 0 0 5px rgba(220, 20, 114, 1), 0 0 25px rgba(220, 20, 114, 1); 
} 
.btn-outline-neon:hover{ 
    box-shadow: 0 0 5px rgba(220, 20, 114, 1),
    0 0 20px rgba(220, 20, 114, 1), 
    0 0 40px rgba(220, 20, 114, 1),
    0 0 75px rgba(220, 20, 114, 1),
    0 0 125px rgba(220, 20, 114, 1); 
}
.btn-outline-neon:active {
    transform: scale(0.95);
}
.btn-blue{
    color: rgba(2, 192, 230, 1);
    border-color: rgba(2, 192, 230, 1);
}
.btn-blue:hover{ 
    background-color: rgba(2, 192, 230, 1);
    border-color: rgba(2, 192, 230, 1);
    transform: translate(0px,-4px);
}
.btn-blue:active{ 
  background-color: rgba(2, 192, 230, 1) !important;
  border-color: rgba(2, 192, 230, 1) !important;
  transform: scale(0.95);

}

.nav-link{
    text-shadow: 0 0 5px rgba(2, 192, 230, 1), 0 0 25px rgba(2, 192, 230, 1); 
}

.nav-link:hover{ 
    text-shadow: 0 0 5px rgba(2, 192, 230, 1),
    0 0 15px rgba(2, 192, 230, 1), 
    0 0 25px rgba(2, 192, 230, 1),
    0 0 50px rgba(2, 192, 230, 1),
    0 0 100px rgba(2, 192, 230, 1); 
    transform: scale(1.12);
}
.nav-link:active{
    text-shadow: 0 0 5px rgba(2, 192, 230, 1), 0 0 25px rgba(2, 192, 230, 1); 
}

.text-glow-red{
    text-shadow: 0 0 5px rgba(220, 20, 114, 1), 0 0 25px rgba(220, 20, 114, 1); 
}

.text-glow-red:hover{ 
    text-shadow: 0 0 5px rgba(220, 20, 114, 1),
    0 0 15px rgba(220, 20, 114, 1), 
    0 0 25px rgba(220, 20, 114, 1);
}

